@use '../../styles/base.sass' as * 

.credits,
.credits>h2
    font:
        family: $code

.credits
    div
        font-size: 1.5em
        line-height: 150%

    h2
        text-transform: uppercase
        font-weight: 700