@use '../../styles/base.sass' as * 


#icon

.posts
    +grid-flex($flow: column wrap)
    gap: $bit

.title
    +grid-flex($flow: row nowrap)

.text
    padding: 0 10px
    text-decoration: $accent1 dashed underline
    text-decoration-thickness: 2px
    text-underline-offset: 5px
    font:
        size: 1.25em
        family: $code
        weight: 800
