@use '../../styles/base.sass' as *

.hero
    padding: $bit
    text-align: center
    font-size: 1.50em
    line-height: 150%
    color: $accent1
    letter-spacing: 0.05em
    font:
        family: $code
        weight: 600
