@use '../../styles/base.sass' as *

.photos
    +grid-flex($flow: row wrap)
    justify-content: space-around
    gap: $cushion
    //height: 30vh

    div
        flex: 1 1 45%


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    .photos
        +grid-flex($flow: column nowrap)