@use 'display' as *
@use 'fonts' as *

$primary: #20082E
$secondary: #FDE4F2
$accent1: #F997D0
$accent2:  #720A47  //#7F0865 //#C588FF
$shadow: #230E37

=sel-shadow($color)
    box-shadow: 2px 2px $color, 1px 1px 10px $shadow 

=sel-border
    border-radius: 5px
    border: 1px solid $secondary
    +sel-shadow($secondary)

=sel-post
    color: $primary
    background: $secondary
    padding: $byte calc($bit *3)
    border-radius: 5px
    border: 1px solid $accent2
    box-shadow:   2px 2px $accent1, 1px 1px 1px 1px $primary

    a
        color: $accent2 !important

