@use 'display' as *

$primary: #30144B
$secondary: #C588FF
$accent1: #D057B5
$accent2: #7F0865
$accent3: #ECD9FF
$shadow: #230E37


=sel-border
    border-radius: 5px
    border: 1px solid $secondary
    box-shadow:   2px 2px $secondary, 1px 1px 10px $shadow

=sel-post
    background: $accent3
    color: $primary

    a
        color: $accent2 !important
