@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap')

/****************************/
/* 
    BODY FONT  
        */
/****************************/
$titles: "Bricolage Grotesque", sans-serif
$text: "Mulish", sans-serif
$code: "Azeret Mono", monospace


=sel-strong
    text-transform: uppercase
    letter-spacing: 0.1em

    font:
        weight: 800
        size: 11px