@use '../../styles/base.sass' as *

.homepage
    +grid-flex($flow: column nowrap)
    gap: $byte

.cards

.items
    @extend .selx
    +grid-flex($flow: row nowrap)
    gap: $bit

    div
        flex: 1
    
    



