@use '../../styles/base.sass' as *

.page
    +grid-flex($flow: column nowrap)
    flex: 1
    color: $primary
    background: $accent3 url("../../assets/crossed-heart-pixel.png")
    background-size: 3px
    font:
        size: 14px
        family: $text
        weight: 500

    h1,
    h2,
    h3,
    h4,
    h5,
    h6
        font-family: $titles
        margin-block: $bit $cushion


    h2
        font:
            size: 2em
            weight: 900

    h3
        font:
            size: 1.75em
            weight: 800
    h4
        font:
            size: 1.50em
            weight: 700


    a
        color: $accent2
        font-weight: 700
        text-decoration-thickness: 1px
        text-underline-offset: 2px

    b,
    strong
        font-weight: 800

    em,
    i
        font:
            style: italic
            weight: 600

    img
        width: 100%
        max-height: 3000px

.content
    //border-block: 1px solid $primary
    align-self: stretch

    main
        margin: $bit
        padding: $bit
        background: $accent1
        border-radius: $cushion
        border: 1px solid $primary

.content,
.title
    flex: 1

.top,
.foo
    flex: 0

    
.title
    flex: 1
    +grid-flex($flow: row nowrap)

    h1  
        color: $primary
        margin-block: 20px
        font:
            family: $code
            size: 3.5em
            weight: 800
            style: italic
        letter-spacing: -0.075em


.foo>footer
    +sel-strong
    font-weight: 700
    background: $accent1
    padding: 5px 0 2px 0
    border-block-start: 1px solid $primary
    color: $accent2
    text:
        align: center

    a
        color: $primary
        text-decoration: none

    a:hover
        color: $shadow

    a:visited
        color: $shadow
    

/**
    MEDIA QUERIES
        source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    */
    
[data-page="home"]
    +grid-flex($flow: row wrap)
    gap: $bit

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)

    [data-card="post"]
        flex: 100%
    
    [data-card="projects"]
        flex: 100%


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
    [data-page="home"]
        
    

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
    [data-card="dev"]
        flex: 20%

    [data-card="photo"]
        flex: 50%
   
    

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 

   

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 