@use '../../styles/base.sass' as *

.card
    flex: 1

    article
        +grid-flex($flow: column nowrap)
        +sel-card

    [data-card="caption"]
        font-size: 0.85em
        line-height: 110%

    [data-card="image"]
        +grid-flex($flow: row nowrap)

        img
            border-radius: 0 0 5px 5px
            width: 100%
            height: auto

        