@use '../../styles/base.sass' as *

.selx
    +grid-flex($flow: column nowrap)

    [data-card="title"]
        flex: 0
        +grid-flex($flow: row nowrap)
        +sel-font($fam: $code, $size: 0.9em, $thick: 600)
        color: $secondary
        

    [data-card="type"],
    [data-card="icon"]
        background: $accent2

    [data-card="type"]
        padding-inline-end: $cushion
        border-radius: 0 5px 0 0

    [data-card="icon"]
        +grid-flex($flow: column)
        justify-content: center
        padding-inline: $cushion
        border-radius: 5px 0 0 0

    [data-card="inner"]
        background: $secondary
        border-inline: 1px solid $accent2
        border-block: 3px solid $accent2
        border-radius: 0 5px 5px 5px


    [data-card="dev-icon"]
        flex: 20%

        div
            +grid-flex($flow: column)
        

    [data-card="dev-intro"]
        flex: 1
        font-family: $code
        padding-inline: $bit
        padding-block-end: $bit
        +grid-flex($flow: column nowrap)
        justify-content: center
        gap: $cushion
        

        h2
            margin-block-start: $cushion
            margin-block-end: 0
        
        p
            font-size: 0.75em
            margin-block: 0
            line-height: 150%

    #post
        padding-inline: $bit 
        padding-block-end: $bit
    
    #projs
        background: $accent2

    [data-card="project-links"]
        +grid-flex($flow: column nowrap)
        gap: 1px

        div
            background: $secondary
            padding-inline: $cushion
    
        
            
    @media only screen and (max-width: 600px)
        #dev
            +grid-flex($flow: row nowrap)

        [data-card="dev-intro"]
            h2
                font-size:  1.25em




    
    