@use '../../styles/base.sass' as * 

.post
    +grid-flex($flow: row wrap)
    flex: 45%
    +borders
    border-block: 1px solid $accent2
    border-inline: 3px solid $accent2

.title
    h3
        font:
            size: 1.75em
            weight: 600

.date
    +sel-strong
    color: $accent2

.text
    padding: $byte

    