@use '../../styles/base.sass' as * 

.post
    flex: 45%
    +borders
    border-block: 1px solid $accent2
    border-inline: 3px solid $accent2

.title
    background: $light
    border-bottom: 1px solid $accent2

    padding-inline: $cushion

    h3
        font:
            size: 1.75em
            weight: 600

.date
    +sel-strong
    color: $accent2

.text
    @extend .column

.par
    padding: $cushion $bit