@use '../../styles/base.sass' as *

.photo
    +grid-flex($flow: row)
    align-items: center
    gap: $bit
    //padding: $cushion
    //background: $accent1

    img
        border-radius: 3px
        border: 1px solid $accent2
        