@use 'styles/base' as *
@import url('../node_modules/modern-normalize/modern-normalize.css')

.App
    display: flex
    justify-content: center
    min-height: 100vh;
    line-height: 150%;
    //background: url("assets/crossed-heart-pixel.png"), radial-gradient(circle,rgba(208, 87, 181, 1) 0%, rgba(127, 8, 101, 1) 66%, rgba(56, 15, 97, 1) 93%, rgba(48, 20, 75, 1) 100%)
    background: $primary
    background-size: 2px;
    overflow: scroll