@use '../../styles/base.sass' as *

.navBar
    +grid-flex($flow: row nowrap)
    justify-content: space-around
    align-items: flex-start

.navLink
    +grid-flex($flow: row nowrap)
    background: $accent2
    border: 1px solid $primary
    border-radius: 3px
    


#link
    flex: 1
    padding-inline: 5px
    border-radius: 0 3px 3px 0
    border: 1px solid $accent1
    background: $light
    transition: border 2s 1s

    a
        letter-spacing: 0.001em
        color: $accent2
        font:
            family: $code
            weight: 700
            size: 12px
        
        text:
            decoration: none
            transform: lowercase
#link:hover
    background: $secondary
    border: 1px inset $accent1

.icon
    flex: 0
    +grid-flex($flow: column nowrap)
    justify-content: center
    background: $accent1
    padding-inline: 5px
    border-radius: 3px 0 0 3px
    border-right: 1px solid $accent2
    color: $accent2